node_modules/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
test_data/
polymac/JobInfo/Error/
polymac/JobInfo/Processed/
polymac/JobChange/
polymac/Rejects/
polymac/FinishedCartons/
*.csv
config/config.yaml
data
